
<h1>Studid Coach</h1>

<div class="question">
  <p>
    <%= @question %>
  </p>
  <p>-You</p>
</div>

<div class="answer">
  <p>
    <%= @answer %>
  </p>
   <p>-Your Coach</p>
</div>

<p class="link">
  <%= link_to "Ask a new question", ask_path %>
</p>
